.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/chr.owl
src/ontology/chr.obo
src/ontology/chr.json
src/ontology/chr-base.*
src/ontology/chr-basic.*
src/ontology/chr-full.*
src/ontology/chr-simple.*
src/ontology/chr-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl
src/ontology/tmp/pre_seed.txt
