.DS_Store
*.tmp
*.tmp.json
*.tmp.obo
*.tmp.owl
bin/
semantic.cache
src/ontology/chr-base.*
src/ontology/chr-basic.*
src/ontology/chr-full.*
src/ontology/chr-simple-non-classified.*
src/ontology/chr-simple.*
src/ontology/chr.json
src/ontology/chr.obo
src/ontology/chr.owl
src/ontology/dosdp-tools.log
src/ontology/ed_definitions_merged.owl
src/ontology/imports/*_terms_combined.txt
src/ontology/merged-chr-edit.owl
src/ontology/mirror
src/ontology/mirror/*
src/ontology/ontologyterms.txt
src/ontology/patterns
src/ontology/patterns 
src/ontology/reports/*
src/ontology/seed.txt
src/ontology/simple_seed.txt
src/ontology/target/
src/ontology/tmp
src/ontology/tmp/*
!src/ontology/tmp/README.md
src/ontology/tmp/pre_seed.txt
__pycache__
venv
tests/outputs/*ofn
tests/outputs/*yaml
.idea
download/*tsv
download/*owl
*.old
src/ontology/imports/ucsc.ofn
src/patterns/all_pattern_terms.txt
src/patterns/data/**/*.ofn
src/patterns/data/**/*.txt
src/patterns/imports/seed_sorted.txt
src/patterns/pattern_owl_seed.txt
site/
docs/
*.pyc
